/* Start Variables */
:root {
  --main-transition:.3s;
  --main-padding:100px;
  --whiteColor:#F0ECE7;
  --mainColor:#c7a17a;
  --secColor:#30271c;
  --colorText:#666
}
/* End Variables */
/* Start Global Rules*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Oswald,sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
::selection{
  background-color: var(--mainColor);
  color:var(--whiteColor);
}
/*Media*/
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.subtitle{
  color: #c7a17a;
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}
.title-logo{
  text-align: center;
  font-size: 35px;
  letter-spacing: 1px;
  line-height: 1.14286em;
}
.title{
  color: var(--secColor);
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 1.14286em;
  padding-bottom: var(--main-padding);
}
.triangle{
  position: absolute;
  bottom: -140px;
  left: 50%;
  transform: translateX(-50%);
  border: 30px solid;
  border-color: var(--mainColor) transparent transparent transparent;
  border-radius: 5px;
}
.triangle::after{
  content: '';
  position: absolute;
  top: -24px;
  left: -15px;
  border: 15px solid;
  border-color: #fff transparent transparent transparent;
  border-radius: 5px;
}
@media(max-width:767px){
  .title{
    font-size: 24px;
  }
}
.textp{
  color:var(--colorText);
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
}
.btn{
  padding: 10px 20px;;
  background-color: transparent;
  border: 1px solid var(--mainColor);
  color: var(--whiteColor);
  transition: var(--main-transition);
  font-family:'Truculenta', sans-serif;
  border-radius: 20px;
  font-size: 24px;
  cursor: pointer;
}
.btn:hover{
  background-color: var(--mainColor);
}
/* End Global Rules*/

/* Start Header */
header{
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}
header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position:relative;
}
header .container .logo{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 76px;
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
  font-family:'Truculenta', sans-serif;
  color:var(--whiteColor);
}
header .container .logo .logo-white{
  font-size: 41px;
  padding-right: 20px;
  transition: var(--main-transition);
  cursor: pointer;
}
header .container .logo .logo-white:hover{
  color: var(--mainColor);
  transform: scale(1.5, 1.5)
}
header .container .logo span{
  color: var(--mainColor);
}
header .container .navbar{
  position: relative;
}
header .container .navbar .icon{
  width: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
/*Media*/
@media(max-width:767px){
  header .container .navbar .icon span {
    background-color: var(--whiteColor);
    margin-bottom: 5px;
    height: 3px;
    transition: var(--main-transition);
  }
  header .navbar .icon span:first-child{
    width: 100%;
  }
  header .navbar .icon span:nth-child(2){
    width: 60%;
  }
  header .navbar .icon:hover span:nth-child(2){
    width: 100%;
  }
  
  header .navbar .icon span:last-child{
    width: 100%;
  }
  header .navbar .icon:hover + ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0px;
    min-width: 250px;
    top: calc(100% + 30px );
    background-color: rgb(199, 161, 122, 1);
    padding: 30px 0;
    border-radius: 5px;
    border-bottom: 1px solid #fff;
  }
  header .navbar ul::before{
    content: '';
    border-width: 16px;
    border-style: solid;
    border-color:transparent transparent rgb(199, 161, 122, 1) transparent;
    position: absolute;
    top: -31px;
    right: 0px;
  }
}
header .container .navbar .icon span:hover ul{
  display: block;
}
header .container .navbar ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
/*Media*/
@media(max-width:767px){
  header .container .navbar ul{
    display: none;
  }
  header .container .navbar ul a:hover{
    text-decoration: line-through;
    
  }
}
header .container .navbar ul li a{
  text-decoration: none;
  font-size: 19px;
  color: var(--whiteColor);
  cursor: pointer;
  padding: 1px 2px;
  transition: var(--main-transition);
}
header .container .navbar ul li a:hover,
header .container .navbar ul li a.active {
  background-color: var(--whiteColor);
  color: var(--mainColor);
  border-radius: 5px;
}
/* End Header */
/* Start Langding */
.landing{
  position: relative;
}
.landing video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  background-position: center;
}
.landing .container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  z-index: 1;
  padding-bottom: 40px;
}
.landing .container .big-logo{
  font-size: 6em;
  margin-bottom: 20px;
  color: var(--whiteColor);
  cursor: pointer;
  transition: var(--main-transition);
}
.landing .container .big-logo:hover{
  color: var(--mainColor);
  transform: scale(1.5, 1.5)
}
.landing .container h1{
  color: var(--whiteColor);
  font-size: 3em;
  margin: 0;
  text-transform: uppercase;
  font-family:'Truculenta', sans-serif;
}
.landing .container h1 span{
  color: var(--mainColor);
}
.landing .container p{
  font-size: 17px;
  color: var(--whiteColor);
  margin: 20px auto;
  text-align: center;
}
.landing .container .arrow{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 50px
}
.landing .container .arrow i{
  color: var(--whiteColor);
  border: 1px solid var(--mainColor);
  border-radius: 50%;
  width: 33px;
  height: 33px;
  line-height: 33px;
  cursor: pointer;
  transition: var(--main-transition);
}
.landing .container i:hover{
  background-color:var(--mainColor);
  color: var(--whiteColor);
}
/* End Langding */


/* Start info */
.info{
  position: relative;
}
.info .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap:40px;
  padding: 80px 0;
}
.info .container .box{
  text-align: center;
  overflow: hidden;
}
.info .container .box i{
  color: var(--mainColor);
  border: 2px solid var(--mainColor);
  transition: var(--main-transition);
  border-radius: 50%;
  padding: 25px;
  margin-bottom: 20px;
}
.info .container .box i:hover{
  background-color: var(--mainColor);
  color:var(--whiteColor);
}
.info .container .box h5{
  font-size: 21px;
  text-transform:uppercase;
  color: var(--secColor);
}
.info .container .box p{
  margin-top: 10px;
  line-height: 1.2;
}
/* End info */

.subscribe{
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  background-image: url(../images/subscribe.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--whiteColor);
  text-align: center;
}
/*Media*/
@media(max-width:767px){
  .subscribe .container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
}
.subscribe .container form p{
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 20px;
}
.subscribe .container form p span{
  text-transform: uppercase;
  font-size: 21px;
}
.subscribe .container form input{
  color: var(--secColor);
  margin-right: 5px;
  padding: 10px 30px;
  border: 3px solid #fff;
  border-radius: 20px;
}

/* Start Cup coffee */
.cup-coffee{
  position: relative;
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.cup-coffee::before{
  content: '';
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 150px;
  background: #c7a17a;
}
.cup-coffee .container .content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
/*Media*/
@media(min-width:993px){
  .cup-coffee .container .content .box-content{
    width: 33%;
  }
  .cup-coffee .container .content .box-content .itme-content p{
    color:var(--colorText);
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    text-align: right;
    width: calc(100% - 15%);
  }
  .cup-coffee .container .content .box-content .itme-content p.left{
    text-align: left;
    margin-left: 60px;
  }
}
.cup-coffee .container .content .box-content .itme-content .flex-end{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.cup-coffee .container .content .box-content .itme-content .text h4{
  color: var(--secColor);
  font-size: 16px;
  margin: auto 20px;
  text-transform: uppercase;
}

.cup-coffee .container .content .box-content .itme-content .flex-direction{
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  align-items: center;
}
/*Media*/
@media(max-width:992px){
  .cup-coffee .container .content{
    display: flex;
    flex-direction: column;
  }
  .cup-coffee .container .content .box-content .itme-content{
    margin: 20px 0; 
  }
  .cup-coffee .container .content .box-content .itme-content .flex-end{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }
  .cup-coffee .container .content .box-content .itme-content .flex-direction{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin-bottom: 15px;
  }

}
@media(max-width:992px){
  .cup-coffee .container .content .box-content .itme-content p{
    text-align: center;
    width: 290px;
  }
}
.cup-coffee .container .content .box-content .itme-content img{
  width: 50px;
  height: auto;
}
.cup-coffee .container .content .box-content .item-image{
  width: 100%;
}

/* End Cup coffee */
/* Start Photos*/
.photos{
  position: relative;
  padding: 50px 0;
  background-image: url(../images/subscribe.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.photos .container{
  overflow: hidden;
}
.photos .container .layout{
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
  grid-template-areas:
    "woman woman croissant man"
    "woman woman croissant juice"
}
@media(max-width:767px){
  .photos .container .layout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
.photos .container .layout img{
  max-width: 100%;
}
.photos .container .layout .woman{
  grid-area: woman;
}
.photos .container .layout .croissant{
  grid-area: croissant;
}
.photos .container .layout .man{
  grid-area: man;
}
.photos .container .layout .juice{
  grid-area: juice;
}
/* End Photos*/

/* Start Menu */
.menu{
  position: relative;
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.menu::before{
  content: '';
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 150px;
  background: #c7a17a;
}
.menu .container{
  position: relative;
}
.menu .container .our-menu{
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 60px;
}
@media(max-width:767px) {
  .menu .container .our-menu{
    display: flex;
    flex-direction: column;
    gap:0;
  }
}
.menu .container .our-menu .menu-list .items{
  margin-bottom: 15px;
}
.menu .container .our-menu .menu-list .items .item{
  display: flex;
  justify-content: space-between;
  align-content: center;
  position: relative;
  margin-bottom: 5px;
}
.menu .container .our-menu .menu-list .items .item{
  font-size: 22px;
  line-height: 1.22727em;
  color: var(--secColor);
  font-weight: 700;
}
.menu .container .our-menu .menu-list .items .item h3{
  text-transform: uppercase;
  font-size: 19px;
}
@media(max-width:767px){
  .menu .container .our-menu .menu-list .items .item h3{
    font-size: 17px;
  }
  .menu .container .our-menu .menu-list .items .item{
    font-size: 16px;
  }
  .menu .container .our-menu .menu-list .items .holder .description{
    font-size: 14px;
  }
}
.menu .container .our-menu .menu-list .items .item .line{
  position: absolute;
  bottom: 8px;
  right: 60px;
  border-bottom: 1px solid rgba(0,0,0,.1);
  height: 3px;
  width:200px;
}
@media(max-width:767px){
  .menu .container .our-menu .menu-list .items .item .line{
    position: absolute;
    bottom: -35px;
    right: 0;
    height: 3px;
    width: 100%;
  }
}
.menu .container .our-menu .menu-list .items .holder {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-bottom: 10px;
}
.menu .container .our-menu .menu-list .items .holder .description{
  color: var(--mainColor);
  width: 100%;
  line-height: 1.2em;
  font-weight: 300;
}
.menu .container .our-menu .menu-list .items .holder .label{
  color: var(--secColor);
  background-color: var(--mainColor);
  text-align: right;
  padding: 2px 5px;
}
/* End Menu */


/* Start Guide*/
.home{
  position: relative;
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.home::before{
  content: '';
  position: absolute;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 150px;
  background: #c7a17a;
}
.home .container .layout{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.home .container .layout div{
  padding: 60px;
}
@media(max-width:992px){
  .home .container .layout div{
    text-align: center;
    width: 100%;
    height: 300px;
  }
}
.home .container .layout div h3{
  font-size: 19px;
  text-transform: uppercase;
}
.home .container .layout div p{
  margin: 30px 0;
  font-size: 14px;
  line-height: 1.5;
}
.home .container .layout div a{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 800;
}
.home .container .layout div a:not(.not){
  color: var(--whiteColor);
}
.home .container .layout div a.not{
  color: var(--secColor);
}
.home .container .layout div a:hover{
  text-decoration: line-through;
}
.home .container .layout div a:hover i{
  transition: var(--main-transition);
  margin-left:10px;
}
.home .container .layout .element-1{
  background-image: url(../images/home/home-8-image-5.jpg) ;
  background-size: cover;
  background-repeat:no-repeat;
  color: var(--whiteColor);
}
.home .container .layout .element-2{
  background-color: #EAE7DE;
}
.home .container .layout .element-3{
  background-image: url(../images/home/home-8-image-2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.home .container .layout .element-4{
  background-image: url(../images/home/home-8-image-3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.home .container .layout .element-5{
  background-image: url(../images/home/home-8-image-4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.home .container .layout .element-6{
  background-image: url(../images/home/home-8-image-1.jpg) ;
  background-size: cover;
  background-repeat:no-repeat;
  color: var(--whiteColor);
}
/* End Guide*/
